<html>

<head>
    <link rel="stylesheet" href="/views/css/layout.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Erro 404</title>
</head>

<body>
    <div class="text-center">
        <div>
            <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/show">Contact</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="error-template">
                        <h1>Oops!</h1>
                        <h2>404 Not Found</h2>
                        <div class="error-details">
                            <p>Desculpe, ocorreu um erro. A página solicitada não foi encontrada!</p>
                        </div>
                        <div class="error-actions">
                            <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                                Home</a>
                            <a href="/contact" class="btn btn-default btn-lg"><span
                                    class="glyphicon glyphicon-envelope"></span>
                                Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>